
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Express</title>
    <link href="~/Content/CSS/Styles.CSS" rel="stylesheet" />
</head>
<body>
    <!--ctrl k d-->>
    @RenderBody()
    <div class="main-bar">
        <div class="contact-left">
            <a>(028) 12345</a>
            <a>(028) 12345</a>
            <button>Liên hệ quảng cáo</button>
            <button class="btn-like">Like</button>
            <button class="btn-follow">Follow</button>
            <button class="btn-youtube">Youtube</button>
        </div>
        <div class="login-right">
            <button>Đăng nhập</button>
            <button>Đăng kí</button>

            <div class="top-bar"
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container">
            <img src="~/Content/img/Logo_Vnexpress.png" />
            <img src="~/Content/img/banner-ads-2.png" />
            <img src="~/Content/img/banner-ads-1.png" />
        </div>
        <div class="main-content">
            <div class="nav-bar">
                <ul class="nav-bar-list">
                    <li>Thời sự</li>
                    <li>Thế giới</li>
                    <li>Kinh doanh</li>
                    <li>Giải trí</li>
                    <li>Thể thao</li>
                    <li>Pháp luật</li>
                    <li>Giáo dục</li>
                    <li>Sức khỏe</li>
                    <li>Gia đình</li>
                    <li>Du lịch</li>
                    <li>Khoa học</li>
                    <li>Số hóa</li>
                    <li>Xe</li>
                    <li>Cộng đồng</li>
                    <li>Tâm sự</li>
                    <li>Video</li>
                    <li>Cười</li>
                    <li>Rao vặt</li>
                </ul>
            </div>
            <div class="content-detail">
                <div class="content-detail-left">
                    <div class="first-page">
                        <h3 class="title">Trang nhất</h3>
                        <div class="first-page-content">
                            <img src="~/Content/img/thumnails.png" />
                            <h2>Trump và Clinton đối đầu trực tiếp nảy lửa trong tranh luận trực tiếp đầu tiên</h2>
                            <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố..</p>
                            <p class="item">- Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
                        </div>
                    </div>
                    <div class="news-point">
                        <h3 class="title title-end">English</h3>
                        <ul>
                            <li>Đài Loan đóng cửa trường học vì bão Megi</li>
                            <li>Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chốn dung thân</li>
                            <li>Tại sao các đôi hoàn hảo vẫn ly dị</li>
                            <li>Ssangyong Korando - crossover giá một tỷ tại Việt Nam</li>
                            <li>Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</li>
                        </ul>
                        <div class="view-point">
                            <div>
                                <h3 class="title">Góc nhìn</h3>
                                <strong>'Thất thủ' <br />trước cơn mưa</strong>
                            </div>
                        </div>
                        <p>Hàng triệu người bất lực trước cơn mưa, hay còn do 1 điều gì khác?</p>
                    </div>
                </div>
                <div class="content-detail-right">
                    <div class="time">
                        <span>Thứ 3, 27/9/2016</span>
                        <span>9:16 GMT+7</span>
                        <span>24h qua</span>
                        <span>RSS</span>
                    </div>
                    <img src="~/Content/img/right-ads-3.png" />
                    <img src="~/Content/img/right-ads-2.png" />
                    <img src="~/Content/img/right-ads-1.png" />
                </div>
            </div>
        </div>

    </div>
    <div>

    </div>
</body>
</html>
